@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?64nt26') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?64nt26') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?64nt26##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpdtrt-gallery-icon-"], [class*=" wpdtrt-gallery-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpdtrt-gallery-icon-panorama {
  &:before {
    content: $wpdtrt-gallery-icon-panorama; 
  }
}
.wpdtrt-gallery-icon-image {
  &:before {
    content: $wpdtrt-gallery-icon-image; 
  }
}
.wpdtrt-gallery-icon-map {
  &:before {
    content: $wpdtrt-gallery-icon-map; 
  }
}
.wpdtrt-gallery-icon-vimeo {
  &:before {
    content: $wpdtrt-gallery-icon-vimeo; 
  }
}
.wpdtrt-gallery-icon-soundcloud {
  &:before {
    content: $wpdtrt-gallery-icon-soundcloud; 
  }
}

