@font-face {
  font-family: 'wpdtrt-gallery';
  src:
    url('fonts/wpdtrt-gallery.ttf?13xgus') format('truetype'),
    url('fonts/wpdtrt-gallery.woff?13xgus') format('woff'),
    url('fonts/wpdtrt-gallery.svg?13xgus#wpdtrt-gallery') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="wpdtrt-gallery-icon-"], [class*=" wpdtrt-gallery-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wpdtrt-gallery' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wpdtrt-gallery-icon-keyboard-o:before {
  content: "\e901";
}
.wpdtrt-gallery-icon-hand-pointer-o:before {
  content: "\e900";
}
.wpdtrt-gallery-icon-panorama:before {
  content: "\e90a";
}
.wpdtrt-gallery-icon-image:before {
  content: "\e90d";
}
.wpdtrt-gallery-icon-map:before {
  content: "\e94c";
}
.wpdtrt-gallery-icon-vimeo:before {
  content: "\eaa1";
}
.wpdtrt-gallery-icon-soundcloud:before {
  content: "\eac3";
}
