$icomoon-font-family: "wpdtrt-gallery" !default;
$icomoon-font-path: "fonts" !default;

$wpdtrt-gallery-icon-panorama: "\e90a";
$wpdtrt-gallery-icon-image: "\e90d";
$wpdtrt-gallery-icon-map: "\e94c";
$wpdtrt-gallery-icon-vimeo: "\eaa1";
$wpdtrt-gallery-icon-soundcloud: "\eac3";

