/* stylelint-disable */

$icomoon-font-family: "wpdtrt-gallery";
$icomoon-font-path: '../icons/icomoon/fonts';

$wpdtrt-gallery-icon-keyboard-o: "\e901";
$wpdtrt-gallery-icon-hand-pointer-o: "\e900";
$wpdtrt-gallery-icon-panorama: "\e90a";
$wpdtrt-gallery-icon-image: "\e90d";
$wpdtrt-gallery-icon-map: "\e94c";
$wpdtrt-gallery-icon-vimeo: "\eaa1";
$wpdtrt-gallery-icon-soundcloud: "\eac3";
