/**
 * Styles for the public front-end
 *
 * This file contains CSS.
 *
 * @link        https://github.com/dotherightthing/wpdtrt-gallery
 * @since       0.1.0
 *
 * @package     WPDTRT_Gallery
 * @subpackage  WPDTRT_Gallery/css
 */
.gallery-viewer--header, .gallery-viewer--footer {
  margin: 4px;
  margin: 0.25rem;
}

.gallery-viewer--header > h2 {
  padding: 0.25em 0.8125em;
}

.gallery-viewer--header > h2, .gallery-viewer--caption {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.gallery-viewer .stack--liner {
  vertical-align: bottom;
  text-align: left;
  background: none;
}

.gallery-viewer figure {
  display: none;
}

.gallery-viewer img {
  width: 100%;
  height: auto;
  max-height: 368px;
  visibility: hidden;
}

.entry-date .gallery-viewer img {
  max-height: 400px;
}

.gallery-viewer iframe {
  position: relative;
  z-index: 1;
  /* make buttons clickable */
  margin-bottom: 0;
}

.gallery-viewer--expand {
  float: right;
  padding: .275em 1em;
  background-color: transparent;
  border: 4px solid transparent;
  border-radius: 0;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.gallery-viewer--expand::after {
  font-size: 2em;
  font-weight: 100;
}

.gallery-viewer--expand:hover, .gallery-viewer--expand:focus {
  outline: none;
  background-color: black;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.gallery-viewer:focus {
  outline: none;
}

.gallery-viewer:focus .stack--liner {
  position: relative;
}

.gallery-viewer--focus-border, .gallery-viewer:focus .stack--liner::after, .gallery-viewer[data-expanded="true"]:focus .stack--liner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid rgba(0, 0, 0, 0.85);
}

.gallery-viewer[data-attachment] .gallery-viewer--caption p {
  margin-bottom: 0;
}

.gallery-viewer[data-expanded="false"] .gallery-viewer--expand {
  position: relative;
  right: 1px;
  margin-right: -4.5em;
  opacity: 1;
}

.gallery-viewer[data-expanded="false"] .gallery-viewer--expand::after {
  content: "+";
}

.gallery-viewer[data-expanded="false"][data-panorama] .stack--liner {
  height: 368px;
}

.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--expand, .gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--expand, .gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--expand {
  position: absolute;
  bottom: 0;
  right: 1px;
  margin-right: 0;
}

.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--header > h2, .gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--header > h2, .gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--header > h2 {
  margin-bottom: 0;
}

.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--header > h2,
.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--caption, .gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--header > h2,
.gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--caption, .gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--header > h2,
.gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--caption {
  background-color: black;
  border: 4px solid black;
}

.gallery-viewer[data-expanded="false"][data-rwgps-pageid]:focus .stack--liner::after, .gallery-viewer[data-expanded="false"][data-soundcloud-trackid]:focus .stack--liner::after, .gallery-viewer[data-expanded="false"][data-vimeo-pageid]:focus .stack--liner::after {
  border-color: transparent;
}

.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--header,
.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--footer, .gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--header,
.gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--footer, .gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--header,
.gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--footer {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.gallery-viewer[data-expanded="false"][data-rwgps-pageid] .gallery-viewer--footer, .gallery-viewer[data-expanded="false"][data-soundcloud-trackid] .gallery-viewer--footer, .gallery-viewer[data-expanded="false"][data-vimeo-pageid] .gallery-viewer--footer {
  background-color: white;
  margin: 0;
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--expand {
  background-color: black;
  position: absolute;
  bottom: 0;
  right: 1px;
  margin-right: 0;
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--expand:hover, .gallery-viewer[data-expanded="true"] .gallery-viewer--expand:focus {
  background-color: #666666;
  color: #666666;
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--expand::after {
  content: "-";
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--header,
.gallery-viewer[data-expanded="true"] .gallery-viewer--footer {
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--header > h2 {
  margin-bottom: 0;
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--header > h2,
.gallery-viewer[data-expanded="true"] .gallery-viewer--caption {
  background-color: black;
  border: 4px solid black;
}

.gallery-viewer[data-expanded="true"] .gallery-viewer--footer {
  margin-left: 0;
}

.gallery-viewer[data-expanded="true"]:focus .gallery-viewer--footer {
  background-color: white;
  z-index: 1;
}

.gallery-viewer[data-expanded="true"]:focus .gallery-viewer--footer:before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid black;
}

.gallery-viewer[data-expanded="true"] .stack--wrapper {
  background: none !important;
}

.gallery-viewer[data-expanded="true"] img,
.entry-date .gallery-viewer[data-expanded="true"] img {
  visibility: visible;
  max-height: none;
}

.gallery-viewer[data-has-image="false"] .gallery-viewer--header > h2 {
  background-color: black;
}

.no-js .gallery-viewer[data-has-image="false"] .stack--wrapper {
  display: none;
}

.gallery-viewer[data-has-image="true"] .gallery-viewer--header {
  position: absolute;
  top: 4px;
  top: 0.25rem;
  left: 4px;
  right: 4px;
  z-index: 2;
  padding-right: 4.5em;
  margin: 0;
}

.attachment .gallery-viewer[data-has-image="true"] .gallery-viewer--header {
  padding-right: 0;
}

.gallery-viewer[data-has-image="true"] .gallery-viewer--caption {
  padding: .75em 0.625em 0.625em;
}

.gallery-viewer[data-has-image="true"] .gallery-viewer--footer {
  position: absolute;
  bottom: 4px;
  bottom: 0.25rem;
  right: 4px;
  z-index: 2;
  text-align: right;
  line-height: 1.45;
  margin: 0 0 0 4px;
  margin: 0 0 0 0.25rem;
}

.gallery-viewer[data-has-image="true"] figure {
  display: block;
}

.gallery-viewer[data-panorama] .img-wrapper {
  overflow-x: scroll;
}

.gallery-viewer[data-panorama] img {
  visibility: visible;
  width: auto;
  max-width: none;
}

.gallery-viewer[data-panorama] .paver--on .img-wrapper {
  overflow-x: hidden;
}

.gallery-viewer[data-panorama] .paver--on img {
  visibility: hidden;
  width: 100%;
  max-width: 100%;
}
