//
// File: scss/_variables.scss
//
// Variables.
//
// Since:
//   0.8.13 - DTRT WordPress Plugin Boilerplate Generator
//

// front-end dependencies are specified in
// ./vendor/dotherightthing/wpdtrt-plugin-boilerplate/package.json
// but installed to ./node_modules, via Yarn workspaces
@import 'node_modules/include-media/dist/include-media';

// -------------------------------------------------------------------
// Breakpoints
// -------------------------------------------------------------------

// $breakpoints for include-media
// Usage: @include media(">phone", "<=tablet") { ... }
// Usage: @include media("<=1150px") { ... }
// See https://include-media.com/

$breakpoints: (
    phone: 320px,
    phone_large: 400px,
    tablet_small: 550px,
    tablet: 710px,
    desktop: 910px
);

// -------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------

:root {
    --wpdtrt-gallery-bg-color: hsla(80, 5%, 11%, 1);
    --wpdtrt-gallery-border-color: hsla(80, 5%, 11%, 1); // border can't use alpha, else will appear darker than bg
    --wpdtrt-gallery-border-color-focus: hsla(80, 5%, 11%, 1);
    --wpdtrt-gallery-border-color-alt: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-button-color-alt: hsla(0, 0%, 40%, 1);
    --wpdtrt-gallery-bg-color-embed: hsla(0, 0%, 0%, .05);
    --wpdtrt-gallery-bg-color-page: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-bg-color-loading: hsla(0, 0%, 98%, 1);
    --wpdtrt-gallery-text-color: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-icon-embed: hsla(0, 0%, 0%, .4);
    --wpdtrt-gallery-thumbnail-border-color-active: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-thumbnail-icon-color: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-thumbnail-icon-color-active: hsla(0, 0%, 100%, .5);
    --wpdtrt-gallery-thumbnail-icon-shadow-color: hsla(0, 0%, 0%, 1);
    --wpdtrt-gallery-viewer-inset-header: 5px 12px;
    --wpdtrt-gallery-viewer-inset: 4px;
    --wpdtrt-gallery-viewer-inset-inverse: -4px;
    --wpdtrt-gallery-viewer-desktop-height: 368px;
}
