//
// Styles for the public front-end
//
// @package WPDTRT_Gallery
// @version 0.0.1
// @since 0.7.0
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// plugins
// omitting the extension makes the classes available for extend
// https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file/30279590#30279590
@import '../icons/icomoon/style.css';

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

// Thumbnail icons

.gallery {
    position: relative; // stack on top of sticky nav
    clear: left;
    margin: 0 0 2em;

    .js {
        &[style] {
            margin-top: 0 !important; // redundant?
        }
    }

    &::after {
        // maintain gaps between photo gallery and other media embeds
        content: '';
        display: table;
        clear: left;
        width: 100%;
    }

    &--icon {
        @extend %wpdtrt-plugin-boilerplate--text-sharpen;
        // icomoon
        // use !important to prevent issues with browser extensions that change fonts
        font-family: 'icomoon' !important;
        font-size: 1.1em;
        line-height: 1;
        font-weight: normal;
        font-style: normal;
        text-transform: none;
        speak: none;
        font-variant: normal;
    }
}

.gallery-item {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 25%;
    vertical-align: top;
    text-align: center;
    padding: 0 1.1400652% 2.2801304%;

    // Gallery thumb spacing
    // Note that change to one has to be applied to all, as horz padding/border affects the thumb height.
    // A side-effect is that the first image is 1px narrow than the caption below it.
    // This is resolved by the caption left offset + border hack.
    // However note that the border hack is visible when the dashed focus outline is applied [old styling],
    // this cannot be resolved as the caption follows the thumb link.
    // The alternate fix is to hide the overflow, but this hurts accessiblity.
    padding-left: 1px;

    @for $i from 1 through 9 {
        .gallery-columns-#{$i} & {
            max-width: (100 / $i) * 1%; // $i columns
        }
    }

    // if there is only one thumbnail, don't display it
    &:first-child {
        &:last-child {
            .js & {
                display: none;
            }
        }
    }

    &--icon {
        // type icon
        content: '+';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        vertical-align: top;
        color: $wpdtrt-gallery-thumbnail-icon-color;
        font-size: 1.5em;
        line-height: 100%;
        text-align: right;
        text-shadow: -1px -1px 0 $wpdtrt-gallery-thumbnail-icon-shadow-color,
        1px -1px 0 $wpdtrt-gallery-thumbnail-icon-shadow-color,
        -1px 1px 0 $wpdtrt-gallery-thumbnail-icon-shadow-color,
        1px 1px 0 $wpdtrt-gallery-thumbnail-icon-shadow-color;
        padding-right: .3em;
        border: 4px solid transparent;
    }

    a {
        display: block; // better transition over state
        position: relative; // AP
        box-shadow: 0 0 0 0 currentColor;

        &::before {
            @extend .gallery-item--icon;
        }

        &:hover,
        &:focus,
        &[data-viewing='true'] {
            &::before {
                // unselected icon overstate
                color: $wpdtrt-gallery-thumbnail-icon-shadow-color;
                text-shadow: -1px -1px 0 $wpdtrt-gallery-thumbnail-icon-color,
                1px -1px 0 $wpdtrt-gallery-thumbnail-icon-color,
                -1px 1px 0 $wpdtrt-gallery-thumbnail-icon-color,
                1px 1px 0 $wpdtrt-gallery-thumbnail-icon-color;
                // selected icon overstate // ?
                border-color: transparent;
            }
        }

        &:focus {
            .gallery > & {
                outline: none;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 4px solid $wpdtrt-gallery-viewer-border-color-focus;
                }
            }
        }

        &[data-viewing='true'] {

            .gallery > & {
                opacity: 1;
                border-color: $wpdtrt-gallery-thumbnail-border-color--active;
                cursor: not-allowed;
            }

            &::before {
                content: '-';
                background-color: $wpdtrt-gallery-thumbnail-icon-color--active;
                transition: none;
            }
        }

        &[data-panorama],
        &[data-soundcloud-pageid],
        &[data-vimeo-pageid] {
            &::before {
                @extend .gallery--icon;
                padding-top: .3em;
            }
        }

        &[data-panorama] {
            &,
            &[data-viewing='true'] {
                &::before {
                    content: '\e90a';
                }
            }
        }

        &[data-soundcloud-pageid] {
            &,
            &[data-viewing='true'] {
                &::before {
                    content: '\e90c';
                }
            }
        }

        &[data-vimeo-pageid] {
            &,
            &[data-viewing='true'] {
                &::before {
                    content: '\e90b';
                }
            }
        }
    }

    .gallery-caption {
        // user can enlarge image or link to media page to read caption
        display: none;
    }

    .gallery-icon {
        img {
            width: 100%;
            height: auto;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}

// Enlargement viewer

.gallery-viewer {

    &.stack {
        display: block;
        position: relative; // AP
        z-index: 1; // stack on top of sticky nav so that text can be selected
        margin-bottom: .5em;
    }

    &--header,
    &--footer {
        // internal gutters match dash gutters, ie both are in pixels
        margin: 4px;
    }

    &--header > h2 {
        padding: .25em .8125em;
    }

    &--header > h2,
    &--caption {
        display: inline-block;
        background-color: $wpdtrt-gallery-viewer-bg-color;
        color: $wpdtrt-gallery-viewer-text-color;
    }

    .stack--wrapper {
        opacity: 1;
        background-color: transparent;
        transition: opacity .3s ease;

        &[data-loading] {
            opacity: 0;
        }
    }

    .stack--liner {
        vertical-align: bottom;
        background: none;
        text-align: left;

        &--icon-hint {
            @extend .gallery--icon;
            position: absolute;
            top: 15.5px;
            right: 24px;
            z-index: 2;
            color: $wpdtrt-gallery-viewer-text-color;
            font-size: 1.4em;
            text-shadow: -1px -1px 0 $wpdtrt-gallery-viewer-border-color,
            1px -1px 0 $wpdtrt-gallery-viewer-border-color,
            -1px 1px 0 $wpdtrt-gallery-viewer-border-color,
            1px 1px 0 $wpdtrt-gallery-viewer-border-color;
        }

        &--icon-embed {
            @extend .gallery--icon;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 0;
            color: $wpdtrt-gallery-viewer-icon-embed;
            font-size: 48px;
            line-height: 0;
            margin-top: -(48px / 2);
            margin-left: -(48px / 2);
        }
    }

    figure {
        // hide default markup unless it's required
        display: none;
    }

    img {
        .entry-date & {
            // ensure that both NZ and China are visible
            max-height: 400px;
        }
    }

    iframe {
        position: relative;
        z-index: 1; // make buttons clickable
        margin-bottom: 0;
    }

    // -------------------------------------------------------------------
    // gallery viewer expand/collapse button
    // -------------------------------------------------------------------

    &--expand {
        opacity: 1;
        position: relative;
        right: 0; // 1px; // seems to be a browser rounding error as it's ok at random breakpoints
        float: right; // TODO prevent the heading from hitting this
        background-color: transparent;
        color: $wpdtrt-gallery-viewer-text-color;
        text-shadow: -1px -1px 0 $wpdtrt-gallery-viewer-border-color,
        1px -1px 0 $wpdtrt-gallery-viewer-border-color,
        -1px 1px 0 $wpdtrt-gallery-viewer-border-color,
        1px 1px 0 $wpdtrt-gallery-viewer-border-color;
        padding: .275em 1em;
        border: 4px solid transparent;
        border-radius: 0;
        margin-right: -4.5em;

        &::after {
            // the icon
            content: '+';
            font-size: 2em;
            font-weight: 100;
        }

        &:hover,
        &:focus {
            background-color: $wpdtrt-gallery-viewer-border-color;
            color: $wpdtrt-gallery-viewer-border-color;
            text-shadow: -1px -1px 0 $wpdtrt-gallery-viewer-border-color-alt,
            1px -1px 0 $wpdtrt-gallery-viewer-border-color-alt,
            -1px 1px 0 $wpdtrt-gallery-viewer-border-color-alt,
            1px 1px 0 $wpdtrt-gallery-viewer-border-color-alt;
            outline: none;
        }
    }

    // -------------------------------------------------------------------
    // focus state
    // -------------------------------------------------------------------

    &:focus {
        outline: none;

        .stack--liner {
            position: relative;

            &::after {
                @extend .gallery-viewer--focus-border;
            }
        }
    }

    &--focus-border {
        // overlay a bordered box on focus
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 4px solid $wpdtrt-gallery-viewer-border-color-focus;
    }

    // -------------------------------------------------------------------
    // attachment - ?
    // -------------------------------------------------------------------

    &[data-attachment] {
        .gallery-viewer--caption {
            p {
                margin-bottom: 0;
            }
        }
    }

    // -------------------------------------------------------------------
    // sections with galleries
    // viewer is expanded, button will collapse viewer
    // -------------------------------------------------------------------

    &[data-has-gallery='true'] {

        .gallery-viewer--header {
            // both text elements must be AP
            // so that the inline invisible image
            // can dictate the height that it needs to display fully
            // and be available for ALT inspection
            // TODO: convert the image height to ems
            // so that it scales when the text size is increased
            // -
            // left + right are used instead of width + margin to prevent bleed
            position: absolute;
            top: 4px;
            right: 4px;
            left: 4px;
            z-index: 2; // stack on top of sticky nav so that text can be selected
            padding-right: 4.5em; // space for expand button
            margin: 0;

            .attachment & {
                padding-right: 0;
            }
        }

        .gallery-viewer--caption {
            padding: .75em .625em .625em;
        }

        .gallery-viewer--footer {
            // both text elements must be AP
            // so that the inline invisible image
            // can dictate the height that it needs to display fully
            // and be available for ALT inspection
            // TODO: convert the image height to ems
            // so that it scales when the text size is increased
            position: absolute;
            right: 4px;
            bottom: 4px;
            line-height: 1.45;
            text-align: right;
            margin: 0 0 0 4px; // prevent long captions from hitting the other side
        }

        // here it's required
        figure {
            display: block;
        }

        &[data-expanded='true'] {

            .gallery-viewer--expand {
                // pin to bottom of header / top of image
                position: absolute;
                right: 1px; // allow for rounding error here as it's more noticeable
                bottom: 0;
                background-color: $wpdtrt-gallery-viewer-border-color;
                margin-right: 0;

                &:hover,
                &:focus {
                    background-color: $wpdtrt-gallery-viewer-button-color-alt;
                    color: $wpdtrt-gallery-viewer-button-color-alt;
                }

                &::after {
                    content: '-';
                }
            }

            .gallery-viewer--header,
            .gallery-viewer--footer {
                // when the image is expanded the text gets out of the way
                // so that the image can be viewed in its entirety
                // this also applies to media viewers
                // which use their own layout within the 'image' area
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
            }

            .gallery-viewer--header > h2 {
                margin-bottom: 0;
            }

            .gallery-viewer--header > h2,
            .gallery-viewer--caption {
                background-color: $wpdtrt-gallery-viewer-border-color;
                border: 4px solid $wpdtrt-gallery-viewer-border-color;
            }

            .gallery-viewer--footer {
                // prevents the .stack--liner borders from peeking through
                margin-left: 0;
            }

            &:focus {

                .stack--liner {
                    &::after {
                        @extend .gallery-viewer--focus-border;
                    }
                }

                .gallery-viewer--footer {
                    // masks .stack-liner which includes the caption area
                    z-index: 1;
                    background-color: $wpdtrt-gallery-viewer-border-color-alt;

                    &::before {
                        // adds a new fake bottom border for the stack-liner overlay
                        // (which excludes the caption area)
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 2;
                        width: 100%;
                        border-top: 4px solid $wpdtrt-gallery-viewer-border-color;
                    }
                }
            }

            .stack--wrapper {
                // override inline styles, remove bgcolor so that caption is not fw
                background: none !important;
            }

            img {
                &,
                .entry-date & {
                    // prevent mousedown+drag inside viewer from dragging a small version of the source panorama
                    // sass-lint:disable no-vendor-prefixes
                    -webkit-user-drag: none;
                    // sass-lint:enable no-vendor-prefixes
                }
            }
        }
    }

    // -------------------------------------------------------------------
    // sections without galleries
    // -------------------------------------------------------------------

    &[data-has-gallery='false'] {
        .gallery-viewer--header {
            > h2 {
                // the gallery viewer is in the template
                // but not all sections have galleries
                background-color: $wpdtrt-gallery-viewer-border-color;
            }
        }

        .stack--wrapper {
            // the gallery viewer is in the template,
            // but not all sections have galleries
            .no-js & {
                display: none;
            }
        }
    }

    // -------------------------------------------------------------------
    // gallery image is a horizontal panorama
    // -------------------------------------------------------------------

    &[data-panorama] {
        .stack--wrapper {
            .js & {
                display: block; // prevent table display from blowing out panorama width
                background: none !important; // prevent conflict with JS scroll
            }
        }

        .stack--liner {
            &::before {
                @extend .stack--liner--icon-hint;
                content: '\e90a';
            }
        }

        .img-wrapper {
            max-width: none;
            overflow-x: scroll;
        }
    }

    // -------------------------------------------------------------------
    // Display media icon behind iframe embeds to mitigate delayed load
    // -------------------------------------------------------------------

    &[data-soundcloud-pageid] {
        .stack--liner {
            background-color: $wpdtrt-gallery-viewer-bg-color-embed;

            &::before {
                @extend .stack--liner--icon-embed;
                content: '\e90c';
            }

            .gallery-viewer--embed {
                @extend %wpdtrt-plugin-boilerplate--embedresponsively;
            }

            .gallery-viewer--footer {
                background-color: $wpdtrt-gallery-viewer-bg-color-page;
            }
        }
    }

    &[data-vimeo-pageid] {
        .stack--liner {
            background-color: $wpdtrt-gallery-viewer-bg-color-embed;

            &::before {
                @extend .stack--liner--icon-embed;
                content: '\e90b';
            }

            .gallery-viewer--embed {
                @extend %wpdtrt-plugin-boilerplate--embedresponsively;
            }

            .gallery-viewer--footer {
                background-color: $wpdtrt-gallery-viewer-bg-color-page;
            }
        }
    }
}

// -------------------------------------------------------------------
// Media Queries
// -------------------------------------------------------------------

@include media('>phone_large') {

    .gallery-item {

        @for $i from 1 through 9 {
            .gallery-columns-#{$i} & {
                max-width: 25%; // 4 columns
            }
        }
    }
}

@include media('>tablet_small') {

    .gallery-item {

        @for $i from 1 through 9 {
            .gallery-columns-#{$i} & {
                max-width: 20%; // 5 columns
            }
        }
    }
}

@include media('>tablet') {

    .gallery {
        max-width: none;
        text-align: right;
        margin-bottom: 0;
    }

    .gallery-item {

        @for $i from 1 through 9 {
            .gallery-columns-#{$i} & {
                max-width: 100%; // 1 column
            }
        }

        // if there is only one thumbnail, do display it
        &:first-child {
            &:last-child {
                .js & {
                    display: inline-block;
                }
            }
        }
    }

    .gallery-viewer {

        &.stack {
            margin-bottom: 2em;
        }

        &--expand {
            padding-top: .5em;
            padding-bottom: .5em;
        }

        &--heading {
            padding: 13px 13px 9px;
        }

        .stack--liner {

            &::before {
                top: 20px;
                right: 23px;
            }
        }
    }
}

@include media('>desktop') {

    .gallery-item {
        display: block;
        float: left;

        // if there is only one thumbnail, do display it
        &,
        &:first-child {
            &:last-child {
                .js & {
                    display: block;
                }
            }
        }

        @for $i from 1 through 9 {
            .gallery-columns-#{$i} & {
                max-width: 50%; // 2 columns
            }
        }
    }
}
