//
// File: scss/frontend.scss
//
// Styles for the public front-end.
//
// Since:
//   0.8.13 - DTRT WordPress Plugin Boilerplate Generator
//

@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/variables';
@import 'vendor/dotherightthing/wpdtrt-plugin-boilerplate/scss/extends';
@import 'variables';
@import 'extends';

// -------------------------------------------------------------------
// Plugins
// -------------------------------------------------------------------

// omitting the extension makes the classes available for extend
// https://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file/30279590#30279590
@import '../icons/icomoon/style.css';

// -------------------------------------------------------------------
// Extends
// -------------------------------------------------------------------

%wpdtrt-gallery-icon {
    @extend %wpdtrt-plugin-boilerplate--text-sharpen;
    // icomoon
    // use !important to prevent issues with browser extensions that change fonts
    // stylelint-disable-next-line declaration-no-important
    font-family: 'icomoon' !important;
    font-size: 1.1em;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    font-variant: normal;
}

// -------------------------------------------------------------------
// Styles
// -------------------------------------------------------------------

// Enlargement viewer

// -------------------------------------------------------------------
// Default state:
// viewer is disabled, or
// viewer is enabled + expanded
//
// heading and caption sit outside image area
// so that the image/embed can be viewed in its entirety
// background bleeds to area where the inset would be
// via a border.
// -------------------------------------------------------------------

.wpdtrt-gallery-viewer {
    $block: &;

    position: relative; // AP
    z-index: 1; // stack on top of sticky nav so that text can be selected

    &:focus {
        outline: 0;
    }

    &__caption,
    &__expand,
    &__header > * {
        background-color: var(--wpdtrt-gallery-bg-color); // var(--wpdtrt-gallery-border-color);
        color: var(--wpdtrt-gallery-text-color);
        padding: var(--wpdtrt-gallery-viewer-inset-header);
        border: var(--wpdtrt-gallery-viewer-inset) solid var(--wpdtrt-gallery-border-color);
    }

    &__caption,
    &__header > * {
        display: inline-block;
    }

    &__caption {
        &:empty {
            display: none;
        }
    }

    &__embed {
        > iframe {
            position: relative;
            z-index: 1; // make buttons clickable
            width: 100%;
            height: 100%;
            border: 0;
            overflow: hidden;

            &[style] {
                // stylelint-disable-next-line declaration-no-important
                height: 100% !important;
            }
        }
    }

    // viewer expand/collapse button
    // positioned at bottom right of header
    &__expand {
        opacity: 1;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 56px;
        height: 56px;
        line-height: (56px - 4px - 4px);
        text-shadow: -1px -1px 0 var(--wpdtrt-gallery-border-color),
            1px -1px 0 var(--wpdtrt-gallery-border-color),
            -1px 1px 0 var(--wpdtrt-gallery-border-color),
            1px 1px 0 var(--wpdtrt-gallery-border-color);
        border-radius: 0;
        cursor: pointer;

        &::after {
            // the icon
            content: '+';
            font-size: 2em;
            font-weight: 100;

            &:hover,
            &:focus {
                background-color: var(--wpdtrt-gallery-button-color-alt);
                color: var(--wpdtrt-gallery-button-color-alt);
            }
        }

        &:hover,
        &:focus {
            background-color: var(--wpdtrt-gallery-border-color);
            color: var(--wpdtrt-gallery-border-color);
            text-shadow: -1px -1px 0 var(--wpdtrt-gallery-border-color-alt),
                1px -1px 0 var(--wpdtrt-gallery-border-color-alt),
                -1px 1px 0 var(--wpdtrt-gallery-border-color-alt),
                1px 1px 0 var(--wpdtrt-gallery-border-color-alt);
        }
    }

    &__footer {
        text-align: right;
    }

    &__header {
        position: relative; // AP
        padding-right: 72px; // space for expand button in collapsed state

        > * {
            margin-bottom: 0;
        }
    }

    &__icon-embed {
        @extend %wpdtrt-gallery-icon;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 0;
        color: var(--wpdtrt-gallery-icon-embed);
        font-size: 48px;
        line-height: 0;
        margin-top: -(48px / 2);
        margin-left: -(48px / 2);
    }

    &__icon-image-type {
        @extend %wpdtrt-gallery-icon;
        position: absolute;
        top: 15.5px;
        right: 24px;
        z-index: 2;
        color: var(--wpdtrt-gallery-text-color);
        font-size: 1.4em;
        text-shadow: -1px -1px 0 var(--wpdtrt-gallery-border-color),
            1px -1px 0 var(--wpdtrt-gallery-border-color),
            -1px 1px 0 var(--wpdtrt-gallery-border-color),
            1px 1px 0 var(--wpdtrt-gallery-border-color);
    }

    &__img-wrapper {
        min-width: 100%;
        background-color: var(--wpdtrt-gallery-bg-color-loading);

        :focus & {
            outline: var(--wpdtrt-gallery-viewer-inset) solid var(--wpdtrt-gallery-border-color-focus);
            outline-offset: var(--wpdtrt-gallery-viewer-inset-inverse);
        }

        > img {
            width: 100%;

            // prevent mousedown+drag inside viewer from dragging a small version of the source panorama
            // sass-lint:disable no-vendor-prefixes
            -webkit-user-drag: none;
            // sass-lint:enable no-vendor-prefixes
        }
    }

    &__liner {
        display: block; // figure
        opacity: 1;
        background: none;
        background-color: transparent;
        transition: opacity .3s ease;

        &[data-loading] {
            opacity: 0;
        }
    }

    // ?
    //
    // &[data-attachment] {
    //     #{$block}__caption {
    //         p {
    //             margin-bottom: 0;
    //         }
    //     }
    // }

    // -------------------------------------------------------------------
    // sections without galleries
    // the gallery viewer is in the template, but not all sections have galleries
    // -------------------------------------------------------------------

    &[data-enabled='false'] {
        #{$block}__liner {
            // the gallery viewer is in the template,
            // but not all sections have galleries
            .no-js & {
                display: none;
            }
        }
    }

    // -------------------------------------------------------------------
    // viewer is enabled + expanded
    // -------------------------------------------------------------------

    &[data-enabled='true'][data-expanded='true'] {
        #{$block}__expand {
            line-height: 0;

            &::after {
                content: '-';
            }
        }
    }

    // -------------------------------------------------------------------
    // gallery image is a horizontal panorama
    // -------------------------------------------------------------------

    &[data-panorama] {
        #{$block}__liner {
            &::before {
                @extend #{$block}__icon-image-type;
                content: '\e90a';
            }

            .js & {
                // stylelint-disable-next-line declaration-no-important
                background: none !important; // prevent conflict with JS scroll
            }
        }

        #{$block}__img-wrapper {
            max-width: none;
            overflow-x: auto; // scroll if window too narrow show entire panorama

            > img {
                width: auto;
                min-width: 100%;
                max-width: none;
            }
        }
    }

    // -------------------------------------------------------------------
    // Display media icon behind iframe embeds to mitigate delayed load
    // -------------------------------------------------------------------

    &[data-soundcloud-pageid] {
        #{$block}__liner {
            &::before {
                @extend #{$block}__icon-embed;
                content: '\e90c';
            }

            #{$block}__embed {
                @extend %wpdtrt-plugin-boilerplate--embedresponsively;
                background-color: var(--wpdtrt-gallery-bg-color-embed);
            }
        }
    }

    &[data-vimeo-pageid] {
        #{$block}__liner {
            &::before {
                @extend #{$block}__icon-embed;
                content: '\e90b';
            }

            #{$block}__embed {
                @extend %wpdtrt-plugin-boilerplate--embedresponsively;
                background-color: var(--wpdtrt-gallery-bg-color-embed);
            }
        }
    }

    // -------------------------------------------------------------------
    // Media Queries
    // -------------------------------------------------------------------

    @include media('<tablet') {
        &__expand {
            &::after {
                font-size: 1.5em;
            }
        }

        &__header {
            > * {
                // fit more text in before it wraps
                font-size: 1.2em;
            }
        }
    }

    @include media('>=tablet') {
        &__liner {
            &::before {
                top: 20px;
                right: 23px;
            }
        }

        &[data-soundcloud-pageid],
        &[data-vimeo-pageid] {
            #{$block}__img-wrapper {
                min-height: 0; // loading height
            }
        }

        // -------------------------------------------------------------------
        // viewer is enabled + collapsed
        //
        // heading and caption sit inside image area
        // both text elements must be AP
        // so that the inline invisible image
        // can dictate the height that it needs to display fully
        // and be available for ALT inspection
        // -------------------------------------------------------------------

        &[data-enabled='true'][data-expanded='false'] {
            &:focus {
                #{$block}__footer {
                    z-index: 1;
                }
            }

            #{$block}__caption,
            #{$block}__expand,
            #{$block}__header > * {
                border: 0;
                margin: var(--wpdtrt-gallery-viewer-inset);
            }

            #{$block}__expand,
            #{$block}__footer,
            #{$block}__header {
                position: absolute;
                right: 0;
            }

            #{$block}__expand {
                top: 0;
            }

            #{$block}__footer,
            #{$block}__header {
                left: 0;
            }

            #{$block}__footer {
                bottom: 0;
            }

            #{$block}__header {
                top: 0;
                z-index: 2; // stack on top of sticky nav so that text can be selected

                .attachment & {
                    padding-right: 0;
                }
            }

            #{$block}__liner {
                // override inline styles, remove bgcolor so that caption is not fw
                background: none !important; // stylelint-disable-line declaration-no-important
            }
        }
    }
}

.wpdtrt-gallery-gallery {
    position: relative; // stack on top of sticky nav

    // Thumbnail icons

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 0 2em;
        overflow-x: auto; // nowrap scroll

        .js {
            &[style] {
                // stylelint-disable-next-line declaration-no-important
                margin-top: 0 !important;
            }
        }
    }

    .gallery-item {
        position: relative;
        width: calc(25% - 6px);
        flex-grow: 0;
        flex-shrink: 0;
        background-color: var(--wpdtrt-gallery-bg-color-loading);
        margin-right: 6px;

        @for $i from 1 through 9 {
            @at-root .wpdtrt-gallery-gallery .gallery-columns-#{$i} .gallery-item {
                width: calc(#{(100 / $i) * 1%} - 6px); // $i columns
            }
        }

        a {
            display: block; // better transition over state
            position: relative; // AP for hover border
            box-shadow: 0 0 0 0 currentColor;
            outline-offset: -3px;

            &::before {
                @extend %wpdtrt-gallery-icon;

                content: '+';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                vertical-align: top;
                color: var(--wpdtrt-gallery-thumbnail-icon-color);
                font-size: 1.5em;
                line-height: 100%;
                text-align: right;
                text-shadow: -1px -1px 0 var(--wpdtrt-gallery-thumbnail-icon-shadow-color),
                    1px -1px 0 var(--wpdtrt-gallery-thumbnail-icon-shadow-color),
                    -1px 1px 0 var(--wpdtrt-gallery-thumbnail-icon-shadow-color),
                    1px 1px 0 var(--wpdtrt-gallery-thumbnail-icon-shadow-color);
                padding-right: .3em;
                border: var(--wpdtrt-gallery-viewer-inset) solid transparent;
            }

            &:hover,
            &:focus,
            &[aria-expanded='true'] {
                &::before {
                    // unselected icon overstate
                    color: var(--wpdtrt-gallery-thumbnail-icon-shadow-color);
                    text-shadow: -1px -1px 0 var(--wpdtrt-gallery-thumbnail-icon-color),
                        1px -1px 0 var(--wpdtrt-gallery-thumbnail-icon-color),
                        -1px 1px 0 var(--wpdtrt-gallery-thumbnail-icon-color),
                        1px 1px 0 var(--wpdtrt-gallery-thumbnail-icon-color);
                    // selected icon overstate // ?
                    border-color: transparent;
                }
            }

            &[aria-expanded='true'] {

                .gallery > & {
                    opacity: 1;
                    border-color: var(--wpdtrt-gallery-thumbnail-border-color-active);
                    cursor: not-allowed;
                }

                &::before {
                    content: '-';
                    background-color: var(--wpdtrt-gallery-thumbnail-icon-color-active);
                    transition: none;
                }
            }

            &[data-panorama],
            &[data-soundcloud-pageid],
            &[data-vimeo-pageid] {
                &::before {
                    @extend %wpdtrt-gallery-icon;
                    padding-top: .3em;
                }
            }

            &[data-panorama] {
                &,
                &[aria-expanded='true'] {
                    &::before {
                        content: '\e90a';
                    }
                }
            }

            &[data-soundcloud-pageid] {
                &,
                &[aria-expanded='true'] {
                    &::before {
                        content: '\e90c';
                    }
                }
            }

            &[data-vimeo-pageid] {
                &,
                &[aria-expanded='true'] {
                    &::before {
                        content: '\e90b';
                    }
                }
            }
        }

        .gallery-caption {
            // user can enlarge image or link to media page to read caption
            display: none;
        }

        .gallery-icon {
            img {
                width: 100%;
                height: auto;
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }

    // -------------------------------------------------------------------
    // Media Queries
    // -------------------------------------------------------------------

    @include media('>=phone') {

        .gallery-item {

            @for $i from 1 through 9 {
                @at-root .wpdtrt-gallery-gallery .gallery-columns-#{$i} .gallery-item {
                    max-width: 25%; // 4 columns
                }
            }
        }
    }

    @include media('>=tablet') {

        .gallery-item {

            @for $i from 1 through 9 {
                @at-root .wpdtrt-gallery-gallery .gallery-columns-#{$i} .gallery-item {
                    max-width: 20%; // 5 columns
                }
            }
        }
    }

    @include media('>=laptop') {

        .gallery {
            max-width: none;
            flex-wrap: wrap;
            overflow-x: visible;
        }

        .gallery-item {
            margin-bottom: 6px;

            @for $i from 1 through 9 {
                @at-root .wpdtrt-gallery-gallery .gallery-columns-#{$i} .gallery-item {
                    max-width: 100%; // 1 column
                }
            }

            // if there is only one thumbnail, do display it
            &:first-child {
                &:last-child {
                    .js & {
                        display: inline-block;
                    }
                }
            }
        }
    }

    @include media('>=desktop') {
        .gallery-item {

            // if there is only one thumbnail, do display it
            &,
            &:first-child {
                &:last-child {
                    .js & {
                        display: block;
                    }
                }
            }

            @for $i from 1 through 9 {
                @at-root .wpdtrt-gallery-gallery .gallery-columns-#{$i} .gallery-item {
                    max-width: 50%; // 2 columns
                }
            }
        }
    }
}
