//
// File: scss/variables/_css.scss
//
// Since:
//   0.9.x - DTRT WordPress Plugin Boilerplate Generator
//
// Colours are specified in hsla values:
// - Hue: 0 - 360 on a colour wheel (e.g. http://hslpicker.com/)
// - Saturation: 0 (grayscale) - 100 (full colour)
// - Lightness: 0% (black), 50% (average), 100% (completely light)
// - Alpha
//

:root {
    --wpdtrt-gallery-bg-color: hsla(80, 5%, 11%, 1);
    --wpdtrt-gallery-border-color: hsla(80, 5%, 11%, 1); // border can't use alpha, else will appear darker than bg
    --wpdtrt-gallery-border-color-focus: hsla(80, 5%, 11%, 1);
    --wpdtrt-gallery-border-color-alt: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-button-color-alt: hsla(0, 0%, 40%, 1);
    --wpdtrt-gallery-bg-color-embed: hsla(0, 0%, 0%, .05);
    --wpdtrt-gallery-bg-color-page: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-bg-color-loading: hsla(0, 0%, 98%, 1);
    --wpdtrt-gallery-text-color: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-icon-embed: hsla(0, 0%, 0%, .4);
    --wpdtrt-gallery-title-color: hsla(0, 0%, 33%, 1);
    --wpdtrt-gallery-title-background-color: hsla(0, 0%, 98%, 1);
    --wpdtrt-gallery-tab-border-color-hover: hsla(0, 0%, 0%, .65);
    --wpdtrt-gallery-tab-border-color-selected: hsla(0, 0%, 0%, 1);
    --wpdtrt-gallery-tab-hint-color: hsla(0, 0%, 33%, 1);
    --wpdtrt-gallery-tab-hint-border-color: hsla(0, 0%, 80%, 1);
    --wpdtrt-gallery-tab-icon-color: hsla(0, 0%, 0%, 1);
    --wpdtrt-gallery-tab-icon-color-selected: hsla(0, 0%, 100%, 1);
    --wpdtrt-gallery-tab-icon-background-color: hsla(0, 0%, 100%, .7);
    --wpdtrt-gallery-tab-icon-background-color-selected: hsla(0, 0%, 0%, .7);
    --wpdtrt-gallery-tab-background-color: hsla(0, 0%, 100%, .15);
    --wpdtrt-gallery-tab-background-color-selected: rgba(2, 1, 1, 0);
    --wpdtrt-gallery-tab-icon-color: hsla(0, 0%, 0%, 1);
    --wpdtrt-gallery-viewer-inset-header: 5px 12px;
    --wpdtrt-gallery-viewer-inset: 4px;
    --wpdtrt-gallery-viewer-inset-inverse: -4px;
}
