//
// File: scss/variables/_scss.scss
//
// Since:
//   0.9.x - DTRT WordPress Plugin Boilerplate Generator
//

$icomoon-font-path: '../icons/icomoon/fonts';
$tab-gutter: 6px;
$tab-gutter-mobile-vert: 20px; // allows for visible Windows 10 overflow scrollbars
